#list__item {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#list__item-text {
  margin: 0;
  font-size: 18px;
  color: black;
  font-weight: normal;
  cursor: pointer;
  &.line-through {
    text-decoration: line-through
  }
}

#list__item-icons {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

#list__item-icon {
  cursor: pointer;
}